<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Lista de Productos" blockClass="pc-component">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>TRACKING NO.</th>
                        <th>PRODUCT NAME</th>
                        <th>STATUS</th>
                        <th class="text-end">TOTAL ORDER</th>
                        <th class="text-end">TOTAL AMOUNT</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </app-card>
    </div>
</div>